.back-to-top {
 
background: none;
 
margin: 0;
 
position: fixed;
 
bottom: 0;
 
right: 0;
 
width: 70px;
 
height: 70px;
 
z-index: 100;
 
display: none;
 
text-decoration: none;
 
color: #2d2d30;
 
background-color: #0000;
 
}
 
  
 
.back-to-top i {
 
  font-size: 60px;
 
}

.container {
    padding: 80px 80px;
}
.container-two {
    padding: 20px 40px;
}

.container-three {
    padding: 20px 110px;
}

.container-four {
    padding: 40px 85px;
}

.container-five {
    padding: 40px 400px;
}

.carousel-inner img {

    height: auto;
    width: 100%; 
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    opacity:0.9;
}


#bio{
	
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #ff80ff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn grey */
.dropdown-menu li a:hover {
    background-color: #c0c0c0!important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}